{{input class="number" type="number" id=inputId enter=inputAction
        value=inputValue change=inputAction tabindex=inputTabIndex}}
<button class="incrementer" {{action "increment" maxValue inputId inputAction}}>+</button>
<button class="decrementer" {{action "decrement" minValue inputId inputAction}}>-</button>