<input type="number" class="number" id={{inputId}} value={{value}}>
<button class="incrementer" {{action "increment" maxValue inputId}}>+</button>
<button class="decrementer" {{action "decrement" minValue inputId}}>-</button>