<table class="solutions">
  <thead>
    <tr>
      <th>
        Solutions
        <br>
        <small>Select a solution to get the corresponding traceback.</small>
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each results as |result index|}}
      <tr class="solution" {{action "highlightTraceback" index tracebacks rowLength}}>
        <td>
          {{#each result as |line|}}
            <pre>{{line}}</pre>
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <th class="table-footer"></th>
    </tr>
  </tfoot>
</table>