<div class="content">
  <h2>Tutorials</h2>
  <p>
    Here you find my tutorials, whereas development tutorials contain often interactive parts
    you can directly test-out on my page. Many of my videos has been released
    under the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">
    CC BY 3.0-licence</a> such that you can use them even commercially by mentioning me and my website
    like in this example:

    <br>
    <br>

    <a href="https://www.youtube-nocookie.com/embed/mRXmV0J1nAA" target="_blank" rel="noopener">Bioinformatics</a>
    by
    <a href="https://www.youtube.com/channel/UCsLtdlbI3Qyrjo9By0BWsZA" target="_blank" rel="noopener">Alexander Mattheis</a>
    is licensed under
    <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">CC BY 3.0</a>

    <br>
    <br>
    Optimally, you link first to the corresponding video, here
    <a href="https://www.youtube-nocookie.com/embed/mRXmV0J1nAA" target="_blank" rel="noopener">Bioinformatics</a>,
    then my name should be linked with my
    <a href="https://www.youtube.com/channel/UCsLtdlbI3Qyrjo9By0BWsZA" target="_blank" rel="noopener">YouTube Channel</a>.
    And finally you link to the correct licence. More about correct attribution you can read
    <a href="https://wiki.creativecommons.org/wiki/Best_practices_for_attribution" target="_blank" rel="noopener">here</a>.
    There it is also
    <a href="https://wiki.creativecommons.org/wiki/Best_practices_for_attribution#Attribution_in_specific_media">explained</a>
    how to attribute e.g. if you want remix or build something upon my work.
    At the end of each tutorial is also an attribution text, you can directly copy and paste on your website or whatever
    such that you do not have to worry about anything. And I don't see everything too strict,
    so you should't expect legal consequences, if you unintentionally make once a little mistake somewhere
    in the attribution.
  </p>
</div>