<div class="content">
  <h2>Vector-Graphics</h2>
  <h4>2018-11-15</h4>
  <p>
    Just type in a tag or multiple tags into the input field
    and all corresponding graphics will be listed one below the other.
    As with all graphics here on this website
    you can also click on the corresponding image
    of a listing to enlarge or reduce the size.
  </p>

  <br>

  {{outlet}}
</div>
