<div class="content">
  <h2>Bioinformatics Algorithms</h2>
  <h4>2018-11-17 - Alexander Mattheis</h4>
  <p>
    I have implemented with JavaScript visually more elaborate versions of algorithms known in
    Bioinformatics, when I studied computer science.
    The resulting project has been integrated in the RNA-Playground of
    <a href="http://rna.informatik.uni-freiburg.de/Teaching/" target="_blank">this</a> website.
  </p>

  <br>
  <p>
    The project is also available on GitHub,
    such that if you like you can play around, download and extend it like you want.
    In the video below, you will find all information you need, so details about the implementation
    and a live-presentation of the project.
  </p>

  <br>

  <iframe width="540" height="304" src="https://www.youtube-nocookie.com/embed/mRXmV0J1nAA"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <br>

  <p>
    The software was written with the help of JavaScript, HTML5 and CSS3.
  </p>

  <br>

  <b>Did you get interested?</b> <a href="https://github.com/BackofenLab/RNA-Playground" target="_blank">RNA-Playground</a>
</div>