<div class="content">
  <h2>Cross-Dating</h2>
  <h4>2018-11-17 - Alexander Mattheis</h4>
  <p>
    The correct dates of wood pieces can be determined by annual rings.
    Therefore, one can just measure the widths or maximum densities of individual rings
    and then shift them in a chronology with known dates to determine the exact calendar year.
    But such established approaches do not work well with short pieces,
    i.e. with wood pieces containing only a few annual rings.
    My new approach which I have developed in cooperation with Dr. Martin Raden
    and PD Dr. Hans-Peter Kahle, however, is different.
    It has been shown that it can accurately determine the date for even shorter wood pieces correctly.
    Therefore, it uses series of densities within a ring.
    By this it becomes one of the most accurate, existing approaches in dendrochronology, today!
  </p>

  <br>

  <p>
    Information about how this grandiose approach works,
    you see below in the presentation which I held on the fifth of September 2018.
  </p>

  <br>

  <iframe width="540" height="304" src="https://www.youtube-nocookie.com/embed/p4GZlmuU7d8"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <br>
  <p>
    The software was written with the help of the statistical programming language
    <a href="https://www.r-project.org/" target="_blank">R</a> and has been released
    under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT licence</a>,
    such that even a commercial use is still possible.
  </p>

  <br>

  <b>Did you get interested?</b> <a href="https://github.com/AlexanderMattheis/Cross-Dating" target="_blank">Cross-Dating</a>
</div>