<div class="content">
  <h2>Relationship-Enhancement-Scripts</h2>
  <h4>2018-11-17 - Alexander Mattheis</h4>
  <p>
    Are you constantly stressed by your operating system? You are constantly in dispute?
    Then I have something for you, the
    <a href="https://github.com/AlexanderMattheis/Relationship-Enhancement-Scripts" target="_blank">
      Relationship-Enhancement-Scripts
    </a>
    for a better, trustworthy cooperation between humans and machines.
    That scripts should simplify your life and give you more control over your operating system.
    All scripts can be directly executed under Windows 10 Version 1703 without any installation of further software.
  </p>

  <br>

  <p>
    <b>Hint:</b> You can install <a href="https://github.com/PowerShell/PowerShell" target="_blank">Powershell</a>
    on your Mac and Linux system, too. But the scripts were written with Powershell 5.1+
    and designed for Windows 10 Version 1703 up to 1803. So, I cannot guarantee that they will work
    on other systems than Windows 10 Version 1703 up to 1803.
  </p>

  <br>

  <p>
    You find all scripts on my GitHub-repository. But a few are also described below:
  </p>

  <br>

  <h3>Dated Folder Creator</h3>
  <p>
    Creates a number of folders with the current date and a count with padding
    e.g. <em>2018-10-14-01, 2018-10-14-02, ..., 2018-10-14-12</em>.
  </p>

  <br>

  <h3>Files Lister</h3>
  <p>
    Lists all files from current directory with different settings.
  </p>

  <br>

  <h3>Processes Lister</h3>
  <p>
    Lists the names from active processes.
  </p>

  <br>

  <h3>Services Lister</h3>
  <p>
    Lists the names from services.
  </p>

  <br>

  <h3>Windows 10 Configurator</h3>
  <p>
    Configures Windows 10 Version 1703 up to 1803 after a reinstallation:
    <ul class="small-text">
      <li>activates the classic photo viewer</li>
      <li>activates name extensions</li>
      <li>activates thin taskbar with small taskbar icons</li>
      <li>removes shortcut name extensions e.g. "- Shortcut"</li>
      <li>sets the taskbar glom-level i.e. taskbar buttons only combined if necessary</li>
    </ul>
  </p>

  <br>

  <b>Did you get interested?</b>
  <a href="https://github.com/AlexanderMattheis/Relationship-Enhancement-Scripts" target="_blank">
    Relationship-Enhancement-Scripts
  </a>
</div>