<div class="content">
  <h2>Contents</h2>
  <p>
    Here you find a few of graphics and programs developed over the years and in the tutorials!
    Many programs are open source, the code has been therefore released inter alia
    under the <a href="http://unlicense.org/">Unlicense-licence</a> such
    that you can use it even commercially without considering any conditions.
    Also, many second-class royalty free graphics were uploaded
    under a <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" target="_blank">CC0-licence</a>.
    So, have fun playing around with the creations!
  </p>
</div>