<div class="content">
  <h2>
    Needleman-Wunsch
    <a href="https://doi.org/10.1016/0022-2836(70)90057-4">1970</a>
  </h2>
  <h4>by Needleman B. Saul, Wunsch D. Christian</h4>

  <h3>Description</h3>
  <div id="algorithm-description">
    <p>
      Computes the optimal, global linear alignment between two strings.
    </p>
  </div>

  <br>

  <iframe width="540" height="304"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <br>

  <h3>Input</h3>
  <div id="algorithm-input">
    <p>
      <label class="input" for="sequence-a">
        <span>Sequence a:</span>
      </label>

      <input type="text" id="sequence-a">
    </p>

    <p>
      <label class="input" for="sequence-b">
        <span>Sequence b:</span>
      </label>

      <input type="text" id="sequence-b">
    </p>

    <div class="function">
      <label class="input">
        <span>Scoring for s:</span>
      </label>

      <div>
        <label for="gap">
          <span>Gap</span>
        </label>

        <input type="number" class="number" id="gap">
      </div>

      <div>
        <label for="gap">
          <span>Match</span>
        </label>

        <input type="number" class="number" id="match">
      </div>

      <div>
        <label for="mismatch">
          <span>Mismatch</span>
        </label>

        <input type="number" class="number" id="mismatch">
      </div>
    </div>
  </div>

  <br>

  <h3>Output</h3>
  <div id="algorithm-output">
    {{dynamic-matrix sequenceA=(test-sequence "AACGT")
                     sequenceB=(test-sequence "ACGT")
                     matrix=(test-matrix 6 5)
                     score=5}}
  </div>
</div>