<div class="content">
  <h2>Needleman-Wunsch</h2>
  <h3>Description</h3>
  <p>
    Computes the optimal, global alignment between two strings.
  </p>

  <br>

  <iframe width="540" height="304"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <br>

  <h3>Input</h3>
  <div class="algorithm-input">
  </div>

  <br>

  <h3>Output</h3>
  <div class="algorithm-output">
  </div>

</div>