<div class="content">
  <h2>About Authors</h2>
  <h3>Alex Mattheis</h3>
  <p>
    I was born in the early 90s and interested in robots since 1996/1997.
    The reason therefore was presumably
    <a href="https://www.youtube.com/watch?v=TYerSLXmjQU" target="_blank">Robocop</a>,
    a classic <a href="https://en.wikipedia.org/wiki/Nintendo_Entertainment_System" target="_blank">NES</a> game
    character. 2000, my family got our first computer and since then I wanted become a programmer to create my own games.
    Around 2008, we also got an internet connection. In this time, I started with computer languages, HTML, and CSS,
    but also, I got interested in creative photo- and video-editing software I've found in the internet e.g.
  </p>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Adobe_After_Effects" target="_blank">Adobe After Effects</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Photoshop" target="_blank">Adobe Photoshop</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Adobe_Premiere_Pro" target="_blank">Adobe Premiere</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Vegas_Pro" target="_blank">Sony Vegas</a></li>
    <li>...</li>
  </ul>

  <br>

  <p>
    Sadly, the stuff was not for free, only 30 days trial versions. And so, I started learning
    free open source programs like
  </p>
  <ul>
    <li><a href="https://www.blender.org/" target="_blank">Blender 2.49</a></li>
    <li><a href="https://www.gimp.org/" target="_blank">Gimp 2.6</a></li>
    <li><a href="https://inkscape.org/" target="_blank">Incscape 0.47</a></li>
    <li>...</li>
  </ul>

  <br>

  <p>
    by the help of YouTube tutorials
    (e.g. <a href="https://www.youtube.com/channel/UC4HBuWzyB-J04WmTh3xQwHw" target="_blank">jxTutorials</a>)
    and sites like <a href="http://blenderhilfe.de" target="_blank">BlenderHilfe</a>,
    <a href="https://www.blenderguru.com/" target="_blank">Blender Guru</a>
    or Screencasters Heathenx. Apart from that, I'm today a studied programmer with interest in visualization of algorithms,
    graphics, and computer languages. I know lots of programming languages and I own a master's degree in computer science.
  </p>
</div>