<div class="content">
  <h2>About Page</h2>
  <p>
    Bitcorn is a website for modern, interactive video tutorials whose development
    started between October and November 2018. The idea for the name and the
    content of that website, I get while taking a walk at midday in the beginning of November 2018.
    Before, I just played around and created a website without a real idea in my head.
    Now, it is a webpage designed mainly for computer algorithms, but also maths and other stuff.
    Interactive means in the case of Bitcorn, that you watch a video or presentation
    and can play afterwards with the presented algorithm on the website.
    But additionally, you can also download free
    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" target="_blank">CC0-licence</a>
    graphics, models, and fonts or get creative programming ideas in the creations section.
    So, with Bitcorn you get full support for your programming career. Is this not cool?
  </p>

  <br>

  <b>I hope you really enjoy my page!</b><br>
  Alex Mattheis
</div>