<div class="content">
  <h2>Contact</h2>
  <p>
    Have you some feedback or you found a bug, mistake, whatever on my page and you want to report this?
    Then write me please a short message using the contact form below. No matter what, write me.
    I'll answer you soon and say thank you. So, move your fingers to the keys, ready, go!
  </p>

  <br>

  {{#bs-form model=this class="needs-validation" formLayout="horizontal" novalidate=true as |form|}}
    {{form.element id="name" controlType="text" label="Name" placeholder="Name" property="name"
                   customError="Only characters are allowed!"}}

    {{form.element id="email" controlType="text" label="E-Mail*" placeholder="E-Mail" property="email"
                   customError="Each mail should consist at least out of ten English characters!"}}

    {{form.element id="message" controlType="textarea" label="Message*" placeholder="Message" property="message"
                   customError="Each message should be at least 15 characters long,
                   not containing any special symbols like '+', '*', '$', .. !"}}

    {{bs-button id="submit" defaultText="Submit" type="primary" buttonType="submit" onClick=(action "submit")}}
  {{/bs-form}}
</div>