<div class="content">
  <h2>Bitcorn launched!</h2>
  <h4>2018-11-18</h4>
  <p>
    Thank you for visiting Bitcorn, the page
    on which I present you my projects, graphics
    and tutorials! Have fun playing around with
    the algorithms and interactive tutorials I've created.
  </p>

  <br>
  Alex Mattheis
</div>

