<div class="content">
  <h2>Imprint</h2>
  Information according to &sect; 5 TMG
  and responsible for the content according to &sect; 55 par. 2 RStV is

  <p>
    [firstname] [surname]<br>
    [street] [number]<br>
    [zip code] [location]
  </p>

  <br>

  <p>
    Telephone: [telepone number]<br>
    E-Mail: <a href="mailto:">[E-Mail]</a><br>
  </p>

  <br>

  <h3>Copyright</h3>
  <h4>Used fonts</h4>
  <p>
    In addition to system fonts the following fonts are used on this website:
  </p>
  <p>
    <b>Font:</b> Nova Mono<br>
    <b>Designer:</b> Wojciech Kalinowski<br>
    <b>Licence:</b> SIL Open Font License (<a href="https://opensource.org/licenses/OFL-1.1" target="_blank">https://opensource.org/licenses/OFL-1.1</a>) <br>
    <b>Source:</b> <a href="https://fonts.google.com/" target="_blank">https://fonts.google.com/</a>
  </p>

  <br>

  <p>
    <b>Font:</b> Open Sans<br>
    <b>Designer:</b> Steve Matteson<br>
    <b>Licence:</b> Apache Licence Version 2.0 (<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>) <br>
    <b>Source:</b> <a href="https://fonts.google.com/" target="_blank">https://fonts.google.com/</a>
  </p>

  <br>

  <h3>Disclaimer</h3>
  <h4>&sect; 1 Warning about content</h4>
  <p>
    The author of this website does not guarantee the correctness, recentness and completeness
    of the provided information. When there is no gross negligence or intent,
    the author is not liable for possible damages, which arise due to the use of the offered information.

    The right to change, extend or remove parts of the whole website
    without prior notice is explicitly reserved by the author. Thus, this website
    can also be removed again from the Internet at any time.
  </p>

  <br>

  <h4>&sect; 2 External Links</h4>
  <p>
    This website also contains links to other websites (so-called External Links).
    The author of this website has checked the third-party websites
    for possible violations of the law when he has created the External Links.
    At that time, no violations of the law were evident for the author.
    But the author has no influence on the current
    and future contents of the External Links.
    That is the reason why the author hereby expressly dissociates himself
    from the contents of all External Links.
  </p>
</div>